@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jamel's Shopping Cart</h1>
    <p class="lead">购物车项目</p>
    <p><a href="@Url.Action("About")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@Html.Action("Featured", "Books")